<%- include('../includes/admin/ad_head.ejs') %>
</head>

<body>

    <%- include('../includes/admin/preloader.ejs') %>

    <section id="wrapper">
        <div class="login-register" style="background-image:url(/admin/images/backgrounds/user-cred.jpg);">
            <div class="login-box card">
                <div class="card-body">
                    <form class="form-horizontal form-material" id="resetform" action="/auth/new-password" method="POST">
                        <h3 class="box-title m-b-20">Set new password</h3>
                        
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" name="password" id="password" placeholder="password" required>
                            </div>
                        </div>

                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <input type="hidden" name="userId" value="<%= userId %>">
                                <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                                    type="submit">Update Password
                                </button>
                            </div>
                        </div>

                        <% if (errorMessage) { %>
                            <div class="alert alert-danger m-t-40">
                                <%= errorMessage %>
                            </div>
                        <% } %>
                        
                    </form>
                </div>
            </div>
        </div>

    </section>

    <%- include('../includes/admin/ad_end.ejs') %>