<%- include('../../includes/admin/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/admin/plugins/dropify/dist/css/dropify.min.css">
</head>

<body class="fix-header fix-sidebar card-no-border">

    <%- include('../../includes/admin/preloader.ejs') %>

    <div id="main-wrapper">

        <%- include('../../includes/admin/header.ejs', {userFirstName: user.firstName, 
                userLastName: user.lastName, userEmail: user.email, userImg: user.photoUrl} ) %>

        <%- include('../../includes/admin/aside.ejs' , { userImg: user.photoUrl } ) %>

        <div class="page-wrapper">

            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">
                            <% if (editing) { %> Update Product
                            <% } else { %> Add Product
                            <% } %>
                        </h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
                            <li class="breadcrumb-item active">
                                <% if (editing) { %> Update Product
                                <% } else { %> Add Product
                                <% } %>
                            </li>
                        </ol>
                    </div>
                    <div class="col-md-7 col-4 align-self-center">
                        <div class="d-flex m-t-10 justify-content-end">
                            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                                <div class="chart-text m-r-10">
                                    <h6 class="m-b-0"><small>THIS MONTH</small></h6>
                                    <h4 class="m-t-0 text-info">$58,356</h4>
                                </div>
                                <div class="spark-chart">
                                    <div id="monthchart"></div>
                                </div>
                            </div>
                            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                                <div class="chart-text m-r-10">
                                    <h6 class="m-b-0"><small>LAST MONTH</small></h6>
                                    <h4 class="m-t-0 text-primary">$48,356</h4>
                                </div>
                                <div class="spark-chart">
                                    <div id="lastmonthchart"></div>
                                </div>
                            </div>
                            <div class="">
                                <button class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right m-l-10"><i
                                        class="ti-settings text-white"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-body">
                            <h4 class="card-title">
                                <% if (editing) { %> Update Product
                                <% } else { %> Add Product
                                <% } %>
                            </h4>
                            <h6 class="card-subtitle">
                                <% if (editing) { %> Change product details!
                                <% } else { %> Add product details!
                                <% } %>
                            </h6>

                            <form class="form-horizontal form-material m-t-40" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>"
                                method="POST" enctype="multipart/form-data">

                                <div class="form-group col-md-12">
                                    <label for="title">Title</label>
                                    <input class="form-control form-control-line <%= validationErrors.find(e => e.param === 'title') ? 'is-invalid' : '' %>"
                                        type="text" name="title" id="title" value="<% if (editing || hasError){ %><%=product.title%><% } %>">
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="price">Price</label>
                                    <input class="form-control form-control-line <%= validationErrors.find(e => e.param === 'price') ? 'is-invalid' : '' %>"
                                        type="number" name="price" id="price" step="0.01" value="<% if (editing || hasError) { %><%= product.price %><% } %>">
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="description">Description</label>
                                    <textarea class="form-control form-control-line <%= validationErrors.find(e => e.param === 'description') ? 'is-invalid' : '' %>"
                                        name="description" id="description" rows="5" cols="80"><%if(editing||hasError){%><%=product.description%><%}%></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="image">Add product image</label>
                                    <input type="file" name="image" id="image" class="dropify" />
                                </div>

                                <!-- If in edit mode -->
                                <% if (editing) { %>
                                <input type="hidden" value="<%= product._id %>" name="productId">
                                <% } %>

                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                                <button class="btn btn-outline-success" type="submit">
                                    <% if (editing) { %>Update Product
                                    <% } else { %>Add Product
                                    <% } %>
                                </button>

                            </form>

                            <% if (errorMessage) { %>
                            <div class="alert alert-danger m-t-40">
                                <%= errorMessage %>
                            </div>
                            <% } %>

                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <%- include('../../includes/admin/switcher.ejs') %>

                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>

            <%- include('../../includes/admin/footer.ejs') %>

        </div>

    </div>

    <%- include('../../includes/admin/end.ejs') %>

    <script type="text/javascript" src="/admin/plugins/dropify/dist/js/dropify.js"></script>
    <script type="text/javascript" src="/admin/js/custom.dropify.js"></script>