<%- include('../includes/site/head.ejs') %>
<link rel="stylesheet" href="/css/shop.css">
</head>

<body>

    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Top header -->
        <div class="topbar">

            <div class="header14 po-relative">

                <%- include('../includes/site/header.ejs') %>

                <%- include('../includes/site/navigation.ejs') %>

            </div>

        </div>

        <!-- ============================================================== -->
        <!-- Page wrapper -->
        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid -->
            <div class="container-fluid">

                <!-- ============================================================== -->
                <!-- Slider or Banner -->

                <div class="static-slider3">
                    <div class="container">
                        <div class="row justify-content-center ">
                            <!-- Column -->
                            <div class="col-md-8 align-self-center text-center" data-aos="fade-right" data-aos-duration="1200">
                                <h1 class="title">
                                    <b class="font-bold text-secondary">Profile</b> <br />
                                    <span class="text-info-gradiant typewrite" data-period="2000" data-type='[ "Edit your information!" ]'>
                                    </span>
                                </h1>
                            </div>
                            <!-- Column -->
                        </div>
                    </div>
                </div>

                <!-- ============================================================== -->
                <!-- Content -->

                <div class="spacer">
                    <div class="container">
                        <div class="col-sm-12">
                            <div class="card card-body">
                                <!-- Img  -->
                                <img src="<%=user.photoUrl%>" alt="" class="photo-placeholder rounded-circle" style="margin: 0 auto"
                                    width="200" height="200" data-aos="fade-down" data-aos-duration="1200">

                                <!-- Row  -->
                                <form class="row form-material justify-content-center" data-aos="fade-up"
                                    data-aos-duration="1200" action="/edit-profile" method="POST">

                                    <div class="form-group col-md-6 m-t-20">
                                        <label>First Name</label>
                                        <input class="form-control <%= validationErrors.find(e => e.param === 'firstName') ? 'is-invalid' : '' %>"
                                            type="text" name="firstName" id="firstName" value="<%=user.firstName%>"
                                            placeholder="Firstname...">
                                    </div>

                                    <div class="form-group col-md-6 m-t-20">
                                        <label>Last Name</label>
                                        <input class="form-control <%= validationErrors.find(e => e.param === 'lastName') ? 'is-invalid' : '' %>"
                                            type="text" name="lastName" id="lastName" value="<%=user.lastName%>"
                                            placeholder="Lastname...">
                                    </div>

                                    <div class="form-group col-md-12 m-t-20">
                                        <label>Email</label>
                                        <input class="form-control" type="email" name="email" id="email" value="<%=user.email%>"
                                            readonly>
                                    </div>

                                    <div class="form-group col-md-12 m-t-20">
                                        <label for="imageUrl">Photo Url </label>
                                        <input class="form-control <%= validationErrors.find(e => e.param === 'photoUrl') ? 'is-invalid' : '' %>"
                                            type="text" name="photoUrl" id="photoUrl" value="<%=user.photoUrl%>"
                                            placeholder="PhotoUrl...">
                                    </div>

                                    <input type="hidden" value="<%= user._id %>" name="userId">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                                    <div class="form-group col-md-12 m-t-20">
                                        <button class="btn btn-outline-info m-r-10" type="submit">
                                            Update Profile
                                        </button>
                                    </div>

                                </form>

                                <!-- Error Msg -->
                                <% if (errorMessage) { %>
                                <div class="alert alert-danger m-t-40">
                                    <%= errorMessage %>
                                </div>
                                <% } %>

                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <!-- ============================================================== -->
            <!-- Back to top -->
            <%- include('../includes/site/back_to_top.ejs') %>

        </div>

        <!-- ============================================================== -->
        <!-- footer -->
        <%- include('../includes/site/footer.ejs') %>

    </div>

    <%- include('../includes/site/end.ejs') %>

    <script type="text/javascript" src="/js/type.js"></script>