<%- include('../includes/admin/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/admin/plugins/dropify/dist/css/dropify.min.css">
</head>

<body class="fix-header fix-sidebar card-no-border">

    <%- include('../includes/admin/preloader.ejs') %>

    <div id="main-wrapper">

        <%- include('../includes/admin/header.ejs', {userFirstName: user.firstName, 
            userLastName: user.lastName, userEmail: user.email, userImg: user.photoUrl} ) %>

        <%- include('../includes/admin/aside.ejs' , { userImg: user.photoUrl } ) %>

        <div class="page-wrapper">

            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Merchant Profile</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
                            <li class="breadcrumb-item active">Merchant Profile</li>
                        </ol>
                    </div>
                    <div class="col-md-7 col-4 align-self-center">
                        <div class="d-flex m-t-10 justify-content-end">
                            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                                <div class="chart-text m-r-10">
                                    <h6 class="m-b-0"><small>THIS MONTH</small></h6>
                                    <h4 class="m-t-0 text-info">$58,356</h4>
                                </div>
                                <div class="spark-chart">
                                    <div id="monthchart"></div>
                                </div>
                            </div>
                            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                                <div class="chart-text m-r-10">
                                    <h6 class="m-b-0"><small>LAST MONTH</small></h6>
                                    <h4 class="m-t-0 text-primary">$48,356</h4>
                                </div>
                                <div class="spark-chart">
                                    <div id="lastmonthchart"></div>
                                </div>
                            </div>
                            <div class="">
                                <button class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right m-l-10"><i
                                        class="ti-settings text-white"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-body">
                                <center class="m-t-30"> <img src="/<%=user.photoUrl%>" class="photo-placeholder-xl img-circle"
                                        width="150" height="150" />
                                    <h4 class="card-title m-t-10">
                                        <%=user.firstName%> <%=user.lastName%>
                                    </h4>

                                    <div class="row text-center justify-content-md-center">
                                        <div class="col-2">
                                            <a href="" class="link">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </div>
                                        <div class="col-2">
                                            <a href="" class="link">
                                                <i class="fab fa-facebook-square"></i>
                                            </a>
                                        </div>
                                        <div class="col-2">
                                            <a href="" class="link">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </div>
                                    </div>

                                </center>
                            </div>
                            <div>
                                <hr>
                            </div>
                            <div class="card-body">
                                <small class="text-muted">Email</small>
                                <h6>
                                    <%=user.email%>
                                </h6>

                                <small class="text-muted p-t-30 db">Phone</small>
                                <h6>
                                    <%=user.phone%>
                                </h6>
                                <small class="text-muted p-t-30 db">Address</small>

                                <h6>
                                    <%=user.address%>
                                </h6>
                                <div class="map-box">
                                    <iframe src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=Malm%C3%B6%20sweden+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
                                        width="100%" height="150" frameborder="0" style="border:0" allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs profile-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#profile" role="tab">
                                        Profile
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#settings" role="tab">
                                        Settings
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">

                                <!--second tab-->
                                <div class="tab-pane active" id="profile" role="tabpanel">
                                    <div class="card-body">
                                        <div class="row">

                                            <div class="col-md-4 col-xs-7 b-r"> <strong>Full Name</strong>
                                                <br>
                                                <p class="text-muted">
                                                    <%=user.firstName%>
                                                    <%=user.lastName%>
                                                </p>
                                            </div>

                                            <div class="col-md-4 col-xs-7 b-r"> <strong>Mobile</strong>
                                                <br>
                                                <p class="text-muted">
                                                    <%=user.phone%>
                                                </p>
                                            </div>

                                            <div class="col-md-4 col-xs-7"> <strong>Email</strong>
                                                <br>
                                                <p class="text-muted">
                                                    <%=user.email%>
                                                </p>
                                            </div>

                                        </div>
                                        <hr>
                                        <h6>Biography</h6>
                                        <p class="m-t-30">
                                            <%=user.biography%>
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane" id="settings" role="tabpanel">
                                    <div class="card-body">

                                        <form class="row form-horizontal form-material" action="/admin/edit-merchant" method="POST" enctype="multipart/form-data">

                                            <div class="form-group col-md-6 m-t-20">
                                                <label>Firstname</label>
                                                <input class="form-control form-control-line <%= validationErrors.find(e => e.param === 'firstName') ? 'is-invalid' : '' %>"
                                                    type="text" name="firstName" id="firstName" value="<%=user.firstName%>">
                                            </div>

                                            <div class="form-group col-md-6 m-t-20">
                                                <label>Lastname</label>
                                                <input class="form-control form-control-line <%= validationErrors.find(e => e.param === 'lastName') ? 'is-invalid' : '' %>"
                                                    type="text" name="lastName" id="lastName" value="<%=user.lastName%>">
                                            </div>

                                            <div class="form-group col-md-6 m-t-20">
                                                <label>Phone No</label>
                                                <input class="form-control form-control-line <%= validationErrors.find(e => e.param === 'phone') ? 'is-invalid' : '' %>" 
                                                    type="text" name="phone" id="phone" value="<%=user.phone%>">
                                            </div>

                                            <div class="form-group col-md-6 m-t-20">
                                                <label>Email</label>
                                                <input class="form-control form-control-line <%= validationErrors.find(e => e.param === 'email') ? 'is-invalid' : '' %>" 
                                                    type="email" name="email" id="email" value="<%=user.email%>" readonly>
                                            </div>

                                            <div class="form-group col-md-12">
                                                <label >Address</label>
                                                <input class="form-control form-control-line <%= validationErrors.find(e => e.param === 'address') ? 'is-invalid' : '' %>"
                                                    type="text" name="address" id="address" value="<%=user.address%>">
                                            </div>

                                            <div class="form-group col-md-12">
                                                <label>Biography</label>
                                                <textarea class="form-control form-control-line <%= validationErrors.find(e => e.param === 'biography') ? 'is-invalid' : '' %>" 
                                                    name="biography" id="biography" rows="5" cols="80"><%=user.biography%></textarea>
                                            </div>

                                            <div class="form-group col-md-12">
                                                <label for="image">Add your photo</label>
                                                <input type="file" name="image" id="image" class="dropify" />
                                            </div>

                                            <input type="hidden" value="<%= user._id %>" name="userId">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                                            <div class="form-group col-md-12">
                                                <button class="btn btn-success" type="submit">
                                                    Update Profile
                                                </button>
                                            </div>

                                        </form>

                                        <!-- Error Msg -->
                                        <% if (errorMessage) { %>
                                        <div class="alert alert-danger m-t-40">
                                            <%= errorMessage %>
                                        </div>
                                        <% } %>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <%- include('../includes/admin/switcher.ejs') %>

                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>

            <%- include('../includes/admin/footer.ejs') %>

        </div>

    </div>

    <%- include('../includes/admin/end.ejs') %>

    <script type="text/javascript" src="/admin/plugins/dropify/dist/js/dropify.js"></script>
    <script type="text/javascript" src="/admin/js/custom.dropify.js"></script>